#fb-root
script(async, defer, crossorigin="anonymous", src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.2&appId=283472849248163")

#footer.content
  .grid-container.grid-2
    .grid-item
      h3 Facebook Group
      .fb-group(data-href="https://www.facebook.com/groups/676589422498808/", data-width="280", data-show-social-context="true", data-show-metadata="false")
    .grid-item
      h3 Meeting Time and Location
      p Thursdays 7PM-9PM EST
      br
      h3 Extra Info
      p #[a(href="/privacy-policy") Privacy Policy]
