#fb-root
script(async, defer, crossorigin="anonymous", src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.2&appId=283472849248163")

#footer.content
  .grid-container.grid-2
      
    .grid-item 
      h3 Our Linktree
      a(href="https://linktr.ee/northeasternvr", target="_blank")
        button.btn.btn-medium
          span Connect with us
          
    .grid-item
      h3 Meeting Time and Location
      p Mondays 6PM-8PM EST
      br
      h3 Extra Info
      p #[a(href="/privacy-policy") Privacy Policy]
