navbar#navbar
  .content
    .flex-container
      .logo
        a(href="/")
          include nuvr-logo.svg
      .links
        .link#home
          a(href="/") Home
        .link#about
          a(href="/about") About
        .link
          a(href="https://www.facebook.com/groups/676589422498808/", target="_blank") Facebook Events
        .link
          a(href="https://neu.campuslabs.com/engage/organization/virtual-reality-organization-of-northeastern-university/contact") Contact Us
