navbar#navbar
  .content
    .flex-container
      .logo
        include nuvr-logo.svg
      .links
        .link#home
          a(href="/") Home
        .link#about
          a(href="/about") About
        .link
          a(href="https://www.facebook.com/groups/676589422498808/", target="_blank") Facebook Events
        .link
          a(href="http://neu.orgsync.com/org/nuvr/ContactUs") Contact Us