navbar#navbar
  .content
    .flex-container
      .logo
        include nuvr-logo.svg
      .links
        .link#home
          a(href="/") Home
        .link#about
          a(href="/about") About
        .link Facebook Events
        .link Contact Us