#header
  .content
    h1.title About Us

#container.content
  .grid-container.grid-2
    .grid-item
      h3 How we started
      p Northeastern Virtual Reality was founded to provide virtual and augmented reality experiences at no cost to Northeastern students. We wanted to build an environment in which developers, designers, tinkerers, and the curious could all meet to explore amazing new technologies that are still in their infancy. By providing this rent-free experience, the gap between dreaming about VR and actually doing something with it is closed.
    .grid-item
      img(src="assets/img/club-photos/4.jpg").club-photo
    .grid-item
      img(src="assets/img/club-photos/1.jpg").club-photo
    .grid-item
      h3 Typical meetings
      p A typical meeting at NUVR is structured as such: we meet once a week. Upon the arrival of our members, we take the opportunity to discuss the latest news; both the local news on Northeastern's campus (what future events we are planning, types of events other clubs might be hosting, etc.) and the news of tech field. We'll talk about our personal work a bit before diving into our projects together as teams.
      p For the remainder of meetings, we build and design these projects. Generally, we work on one to two projects each semester. You can find some past projects on #[a(href="https://github.com/NUVR") our GitHub page here].

  .centered
    .board-members
      h2.title Board Members
      .grid-container.grid-2
        p Erin Mittmann
          br
          small President
        p Amanda Vasconcelos
          br
          small Vice President
        p Gabby Aidam
          br
          small Treasurer
        p Spencer Shao
          br
          small Lead Project Manager
        p Dylan Dinio
          br
          small Outreach Coordinator

script(type='text/javascript').
  setActivePage('about')
