#header
  .content.home
    h1.title Join NUVR!

#container.content
  .align-center.padding
    p If you're just joining us for the first time, welcome to Northeastern Virtual Reality, the student-led VR club on campus. Below are some of the more helpful links to get you started and if you can't find what you're looking for, use the contact tab above to send us any questions.

  .colored-background.align-center.padding
    h2 Links!

  .grid-container.grid-2.align-center
    .grid-item
      h2 Receive Email Updates
      p We send out all of our meeting times, location, and event content over email. Subscribe to stay up-to-date.
      a(href="http://eepurl.com/c8SAzL" target="_blank")
        button.btn.btn-large
          span Subscribe to Mailing List

    .grid-item
      h2 View Projects
      p Want to see what we've been working on? Check out our GitHub page for projects, documentation, and other cool programming-related activities.
      a(href="https://github.com/NUVR" target="_blank")
        button.btn.btn-large
          span GitHub

    .grid-item
      h2 Join Northeastern Organization
      p Add NUVR to your list of officially joined clubs. Get access to membership information and view official documentation.
      a(href="https://neu.campuslabs.com/engage/organization/virtual-reality-organization-of-northeastern" target="_blank")
        button.btn.btn-large
          span Join Engage

    .grid-item
      h2 Follow us on Instagram
      p Get weekly updates on our meetings and general events.
      a(href="https://www.instagram.com/northeastern_vr/" target="_blank")
        button.btn.btn-large
          span Instagram

script(type="text/javascript").
  setActivePage("join")
